@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground:	#0D0D0D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  padding: 0;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ebe9e9;
}

