.container {
        display: flex;
        justify-content: center;  /* yatayda ortala */
        align-items: center;      /* dikeyde ortala */
        min-height: 100vh;  
}       

.card {
  max-width: 375px;
  min-width: 350px;
  max-height: 500px;
  min-height: 250px;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: sans-serif;
  transition: all 0.4s ease;
}

.card:hover {
  box-shadow: 0 8px 24px rgba(0, 129, 203, 0.444);
  transform: scale(1.05);
}

.card .ProfileImage {
  border-radius: 100%;
  margin: 0 auto;
  transition: all 0.4s ease;
}

.card .ProfileImage:hover {
  opacity: 0.8;
}

.card h1 {
  font-size: 2.2rem;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 0rem;
  font-family: 'Times New Roman', Times, serif;
}

.card .socialButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.card .socialButtons .LinkIcon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease, color 0.3s ease;
}

.card .socialButtons .LinkIcon:hover {
  background-color: #e5e5e5;
  transform: scale(1.4);
}

.card .socialButtons a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}